# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages that Data Scientists use are
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* Evaluation of Some Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. TensorFlow
5. PyTorch

| Data Science Tools|
|-------------------|
| Jupyter |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes in hours : ", 200/60)

200 minutes in hours :  3.3333333333333335

## Author
Karan Suneja